{% load django_glue %}

<!doctype html>

<html lang="en">
<body>

    <!-- Your Content Above the Glue Initialization-->

    <div x-data="{
        customer: new ModelObjectGlue('customer'),
        saved: false,
        async init() {
            await this.customer.get()
        },
        save() {
            this.customer.update()
            this.saved = true
            setTimeout(() => {
                this.saved = false
            }, 3000)
        }
    }">
        <form>
            <div class="row mb-2">
                <label class="col-md-4" for="first_name">First Name</label>
                <input class="col-md-8" type="text" id="first_name" x-model="customer.first_name" />
            </div>
            <div class="row mb-2">
                <label class="col-md-4" for="last_name">Last Name</label>
                <input class="col-md-8" type="text" id="last_name" x-model="customer.last_name" />
            </div>
            <div class="row mb-2">
                <label class="col-md-4" for="email">Email</label>
                <input class="col-md-8" type="text" id="email" x-model="customer.email" />
            </div>
            <div class="row mb-2">
                <label class="col-md-4" for="phone">Phone</label>
                <input class="col-md-8" type="text" id="phone" x-model="customer.phone" />
            </div>
            <div class="row mb-2">
                <label class="col-md-4" for="address">Address</label>
                <input class="col-md-8" type="text" id="address" x-model="customer.address" />
            </div>
            <div class="row mb-2">
                <label class="col-md-4" for="city">City</label>
                <input class="col-md-8" type="text" id="city" x-model="customer.city" />
            </div>
            <div class="row mb-2">
                <label class="col-md-4" for="state">State/Province</label>
                <input class="col-md-8" type="text" id="state" x-model="customer.state" />
            </div>
            <div class="row mb-2">
                <label class="col-md-4" for="zip_postal">Zip/Postal</label>
                <input class="col-md-8" type="text" id="zip_postal" x-model="customer.zip_postal" />
            </div>
            <div class="row mb-2">
                <label class="col-md-4" for="country">Country</label>
                <input class="col-md-8" type="text" id="country" x-model="customer.country" />
            </div>
            
        </form>
        <div class="row">
            <button class="btn btn-primary" x-on:click="save()">Save</button>
        </div>
        <!-- Save notification (show only for 3 seconds) -->
        <div class="row">
            <div class="col-md-12" x-show="saved">
                <div class="alert alert-success">
                    Customer saved successfully
                </div>
            </div>
        </div>
        <!-- Back button -->
        <div class="row"> 
            <a href="/" class="btn btn-secondary">Back</a>
        </div>
    </div>

    {% glue_init %}

    {% glue_bootstrap_js %}

    {% glue_alpine_js %}

</body>

</html>