{% extends "base.html" %}

{% block page_title %}
    <h2>Edit Customer</h2>
{% endblock %}

{% block content %}

    <!-- Your Content Above the Glue Initialization-->
    

    <div x-data="{
        customer: new ModelObjectGlue('customer'),
        customer_fields: [],
        saved: false,
        async init() {
            await this.customer.get()
            window.addEventListener('django-glue-response-event', async (event) => {
                if (event.detail.response_type === 'success' && event.detail.message_body.toLowerCase().includes('deleted')) {
                    window.location.href = '/'
                }
            })
        },
        save() {
            this.customer.update()
            this.saved = true
            setTimeout(() => {
                this.saved = false
            }, 3000)
        },
    }">
        <div class="form-group">
            <label for="first_name" class="form-label">First Name</label>
            <input class="form-control mb-3" type="text" x-bind:id="customer.first_name" x-model="customer.first_name" />
            <label for="last_name" class="form-label">Last Name</label>
            <input class="form-control mb-3" type="text" x-bind:id="customer.last_name" x-model="customer.last_name" />
            <label for="email" class="form-label">Email</label>
            <input class="form-control mb-3" type="text" x-bind:id="customer.email" x-model="customer.email" />
            <label for="address" class="form-label">Address</label>
            <input class="form-control mb-3" type="text" x-bind:id="customer.address" x-model="customer.address" />
            <label for="city" class="form-label">City</label>
            <input class="form-control mb-3" type="text" x-bind:id="customer.city" x-model="customer.city" />
            <label for="state" class="form-label">State</label>
            <input class="form-control mb-3" type="text" x-bind:id="customer.state" x-model="customer.state" />
            <label for="zip_postal" class="form-label">Zip/Postal</label>
            <input class="form-control mb-3" type="text" x-bind:id="customer.zip_postal" x-model="customer.zip_code" />
            <label for="country" class="form-label">Country</label>
            <input class="form-control mb-3" type="text" x-bind:id="customer.country" x-model="customer.country" />
            <a href="/" class="btn btn-secondary">Back</a>
            <button class="btn btn-danger" x-on:click="customer.delete()">Delete</button>
            <button class="btn btn-primary" x-on:click="save()">Save</button>
        </div>
            
        <div class="form-group" x-show="saved">
            <br>
            <div class="alert alert-success">
                Customer saved successfully
            </div>
        </div>
        <br>
        <!-- Back button -->
        <div class="row"> 
            
        </div>
    </div>

{% endblock %}
